
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>首页--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/testms/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/testms/css/public.css" media="all" />
</head>
<body class="childrenBody">
    <blockquote class="layui-elem-quote layui-bg-green">
        <div id="nowTime"></div>
    </blockquote>
    <div class="layui-row layui-col-space10 panel_box">
        <div class="panel layui-col-md4">
            <a href="http://github.com/caxich/TestMS" target="_blank">
                <div class="panel_icon layui-bg-green">
                    <i class="layui-anim seraph icon-good"></i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
        <div class="panel panel_click layui-col-md4">
            <a href="javascript:;" data-url="https://www.baidu.com/" target="_blank">
                <div class="panel_icon layui-bg-black">
                    <i class="layui-anim seraph icon-github"></i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
        <div class="panel panel_click layui-col-md4">
            <a href="javascript:;" data-url="https://www.oschina.net/" target="_blank">
                <div class="panel_icon layui-bg-red">
                    <i class="layui-anim seraph icon-oschina"></i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
        <div class="panel panel_click layui-col-md4">
            <a href="javascript:;" data-url="https://www.oschina.net/" target="_blank">
                <div class="panel_icon layui-bg-orange">
                    <i class="layui-anim seraph icon-icon10"></i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
        <div class="panel panel_tab layui-col-md4">
            <a href="javascript:;" data-url="https://www.baidu.com/">
                <div class="panel_icon layui-bg-cyan">
                    <i class="layui-anim layui-icon" data-icon="&#xe857;">&#xe857;</i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
        <div class="panel panel_tab layui-col-md4">
            <a href="javascript:;" data-url="https://www.oschina.net/">
                <div class="panel_icon layui-bg-blue">
                    <i class="layui-anim seraph icon-clock"></i>
                </div>
                <div class="panel_word">
                    <span>项目主页</span>
                    <cite>地址链接</cite>
                </div>
            </a>
        </div>
    </div>
    <script type="text/javascript" src="~/testms/layui/layui.js"></script>
    <script type="text/javascript" src="~/testms/js/HomeIndex.js"></script>
</body>
</html>
